<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <form action="/employees/save" method="POST" th:object="${employee}">

        <input placeholder="First Name" th:field="*{firstName}" type="text">

        <input placeholder="Last Name" th:field="*{lastName}" type="text">

        <input placeholder="Email Address" th:field="*{email}" type="text">

        <button type="submit">Create Employee</button>

    </form>
</div>

</body>

</html>